div{
    padding: 5px;
}

#menu li {
    display: inline;
    padding: 15px;
    
}

#menu li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;  
}

#menu li a:hover{
    color: goldenrod
}

.center{
    text-align: center; 
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.about {
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.direitos{
    text-align: center; 
    color: black;
}

/* contato */
















/* 

.p1 {
    font-size: 22px;
    text-align: justify;    
}
#about {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


.br-50{
    border-radius: 50%;
}
.borda{
    border: 3px solid black;
    background-color: rgb(211, 241, 198);
}
*/